 {{#if msg}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{msg}}
{{else}}
 <section id="add" class="container">
    <div class="form-wrap">
      <h1>Add A Post</h1>
      <p>Your name will be shared with registered users.</p>
      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:black;"id="exampleModalLabel">Upload an image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form action="/posts/saveImage" method="POST" enctype="multipart/form-data">
              <input type="file" name="picture" id="file-input" accept="image/*" style="color:black">
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="save" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

      <form action="/posts/add" method="POST" id="add-form">
        <div class="input-group">
          <label for="title">Post Title</label>
          <input type="text" name="title" id="title" class="input-box" placeholder="eg. New Photo, New YouTube Video"
            maxlength="100" value={{title}}>
        </div>
        <div class="input-group">
          <label for="event_date">Post date</label>
          <input type="date" name="event_date" id="event_date" class="input-box" value={{event_date}}>
        </div>
        <div class="input-group">
          <label for="type">Post Type</label>    
          <select name="type" id="type" form="add-form">
            {{!-- option dynamically loaded from server --}}
          </select>
        </div>
        <div class="input-group" id="youtube-div" style="display:none;">
          <label for="youtube">Youtube Link</label>
          <input type="text" name="youtube" id="youtube" class="input-box" placeholder="https://www.youtube.com/watch?v=eoJtlPQzqkQ" value={{youtube}}>
        </div>
        <div class="input-group" id="image-div" style="display: none">
          <label for="image">Image URL</label>
          <input type="text" name="image" id="image" class="input-box" value="{{image}}" readonly>
        </div>
        <button type="button" id="image-button" style="display: none;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Select an image</button>
        <div class="input-group">
          <label for="content">Post Content</label>
          <textarea name="content" id="content" class="input-box" placeholder="Describe the details of the post"
            rows="10">{{content}}</textarea>
        </div>
        <input type="submit" value="Add Post" class="btn btn-reverse">
      </form>
    </div>
  </section>
  <script>
    function getEventTypes(){
      $.ajax({
        type: "GET",
        url: "/posts/getEventTypes",
        success: function(types){
          $.each(types, function(i, value){
            $("#type").append("<option>" + value.type + "</option>")
          });
        },
        error: function(e){
          console.log(e)
        }
      })
    } 
    $(function() {
      $("#save").click(function(){
        let file = $("#file-input")[0].files[0];
        var formData = new FormData();
        formData.append('file', file);

        $.ajax({
          url: "/posts/saveImage",
          type: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: (data) => {
            $("#image-div").show();
            $("#image").val(data);
            $('#exampleModal').modal('toggle');
          }

        })
      });
      //on page load get event types
      getEventTypes();
      $("#type").change(function(){
        let type = this.value;
        if(type == "Youtube"){
          $("#youtube-div").show();
          $("#image-div").hide();
          $("#image-button").hide();
        }else if(type == "Poster"){
          $("#image-button").show();
          $("#youtube-div").hide();
          //$("#image-div").show();
        }
        else{
          $("#youtube-div").hide();
          $("#image-button").hide();
          $("#image-div").hide();
        }
      });
    })
  </script>
{{/if}}