 {{#if msg}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{msg}}
{{else}}
<section id="posts" class="container">
    <h1>All Posts</h1>

    {{#each posts}}
    <div class="post">
      <h3>{{title}}</h3>
      {{#if youtube}}
      <center>
        <iframe id="ytplayer" type="text/html" width="320" height="180"
            src="https://www.youtube.com/embed/{{youtube}}"
            frameborder="0"></iframe>
            <p>{{content}}</p>
      </center>
      {{/if}}
      {{#if image_url}}
      <center>
        <a href="{{image_url}}"><img style="width: 150px; height:150px;" src="{{image_url}}"></img></a>
      </center>
      {{/if}}
      <p>{{content}}</p>

      <ul>
        <li>{{type}}</li>
        <li>Date: {{moment event_date format="MM-DD-YYYY"}}</li>
      </ul>
      <div class="type">
        <small>Promo Type: <span>{{type}}</span></small>
      </div>
      <div class="type">
        <small>User: <span id="username">{{username}}</span></small>
      </div>
      <div class="type">
        Likes: <span>{{likes}}</span>
        <button class="btn btn-block btn-primary" onclick="addLike({{id}});"><i class="fa fa-thumbs-up"></i> Like</button>
      </div>
    
    </div>
    {{else}}
        <p>No Posts Available</p>
        
    {{/each}}
    
  </section>
  
  {{/if}}